# For running the code
pandas == 1.2.3
pandera == 0.6.4
click == 8.0.1
schema == 0.7.4
setuptools == 57.0.0
autopep8==1.5.7

# For development
mypy == 0.902           # Type checking
pylint == 2.8.3         # Code linting
pycodestyle == 2.7.0    # Code linting
pydocstyle == 6.1.1     # Docstring linting
pytest == 6.2.4         # Testing code
pytest-cov == 2.12.1    # Check test coverage
wheel == 0.36.2         # Build a source distribution .whl file
